extends layouts/main
include mixin/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.videos+routes.editVideo(video.id))
                    button Edit video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
            .video__author
                span Uploaded by 
                a(href=routes.users + routes.userDetail(video.creator.id)) "#{video.creator.name}"
        .video__comments
            span.video__comment-number
                span#jsCommentNumber=video.comments.length
                |  개의 댓글
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li(id=comment.id)
                        span #{comment.text} 
                        if `${comment.creator}` === `${loggedUser.id}`
                            button.comment-remove#jsCommentRemove ❌
                        